.Navbar {
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid grey;
    width: 100%;
    background-color: white;
    grid-row: 1;
    height: 80px;
}

.NavGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavGroup>* {
    display: inline-block;
    height: min-content;
}

.NavLink {
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    position: static;
}

.NavLink .Text{
    display: flex;
    align-items: center;
}

.DropdownContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top: 60px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    height: 100px;
}

.Dropdown:hover .DropdownContent{
    display: block;
}